div.foo
    span[content=hello world]

table
    thead
        tr
            th[content=col a]
            th[content=col b]
            th[content=col c]
            

    tbody
        tr
            td[content=a]
            td[content=b]
            td[content=c]
        tr
            td[content=d]
            td[content=e]
            td[content=f]

div#foo
    input[type=text]
    form
        label[for=password][content=password]
        input#password[type=password][name=password]
        button[type=button][content=Press Me]
    button[type=submit]

div.foo
    div.bar
        p#one
    div.bar
        p#two
            span
        p#three
            span
    div.bar
        p#four
        p#five
            span
        img
    div.bar
